# IBM watsonx.ai Configuration
WATSONX_API_KEY=uJHsRaKZjv9v1elMFh-gqInhD57p4bydXrQYhZqz5gxs
WATSONX_PROJECT_ID=db9f6a4f-6f1b-42a9-ba48-4eda715657cc 
WATSONX_URL=https://au-syd.ml.cloud.ibm.com

# IBM Granite Model ID
GRANITE_MODEL_ID=ibm/granite-4-h-small

# Application Settings
APP_SECRET_KEY=1234
MAX_UPLOAD_SIZE_MB=10
